<<<<<<< HEAD
/* Style for form.html */
=======
/* author.html styles*/
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

>>>>>>> 5Vlad
header {
    text-align: center;
    padding: 20px;
    margin-top: 60px;
    font-size: 2em;
<<<<<<< HEAD
=======

>>>>>>> 5Vlad
}

main {
    padding-top: 100px;
<<<<<<< HEAD

}

form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
}

form label,
form input,
form select {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"] {
    width: 100%;
    padding: 10px;
}

form button {
    width: 45%;
    padding: 10px;
    color: white;
    border: none;
}

form button[type="submit"] {
    background-color: green;
}

form button[type="reset"] {
    background-color: green;
}

=======
}

.team-members {
    margin: 20px auto;
    width: 70%;
}

.team-members ol {
    padding: 20px;
    border: 2px solid #333;
    list-style-type: upper-alpha;
}

.links {
    text-align: center;
    margin: 20px auto;
}

.links a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: #333;
    max-width: 200px;
    padding: 10px 15px;
    transition: all 0.3s ease;

}

.links a:hover {
    color: aqua;
}

li {
    font-weight: bold;
}
>>>>>>> 5Vlad
/* End of style */